details {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(192, 161, 82);
}

summary {
  background-color: rgb(169, 114, 52);
  padding: 5px;
}

summary:hover {
  background-color: rgb(244, 226, 121);
}

details:nth-child(2n) { background-color:rgb(205, 174, 95); }
details:nth-child(2n) summary { background-color: rgb(188, 136, 77); }
details:nth-child(2n) summary:hover { background-color: rgb(244, 226, 121); }

summary span {
  padding: 10px 20px;
}

summary span:first-child {
  background-color:rgba(100, 255, 200, 0.25)
}

/* Flex containers */
.flex-container-horizontal {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

div.flex-container-horizontal {
  padding: 15px 20px;
  align-items: center;
}

.flex-grow-0 {
  flex-grow: 0;
  padding: 10px;
}

.flex-grow-1 {
  flex-grow: 10;
  padding: 10px;
}

/* Table styling */
table:nth-child(2n) {
  background-color:rgba(240, 248, 255, 0.25)
}

table {
  border: 2px outset #b68657;
  background-color: #ffddaa;
}

tr td:first-child {
  font-weight: bold;
  padding: 2px 4px;
}

tr td:last-child {
  min-width: 180px;
  max-width: 180px;
  padding: 2px 4px;
}

td {
  white-space: nowrap;
  background-color: rgb(221, 182, 113);
}

span.spell-widget-level {
  width: 50px;
}

span.spell-widget-name {
  text-align: left;
  font-weight: bold;
}

span.spell-widget-source {
  font-style: italic;
}